
body {
    margin: 0;
    padding: 0;
}

.Header {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    padding: 1rem;
    cursor: pointer;
    font-family: 'Roboto Mono';
    background: #263849;
    width: 100%; /* Set width to 100% */
}

/* .Banner{
    background-color: #263849;
    position: fixed;
   width: max-content;
   size: 100;
    z-index: 0;
} */


.navitems {
    background: #263849;
   
    background-size: 100%;
    position: fixed; 
    z-index: 999;
    list-style: none;
    display: flex;
    color: #35bcbf;
    text-decoration: none;
    padding: 0.625rem 0.9375rem;
    left: 100; /* Align to the left */
    right: 0; /* Align to the right */
    margin: 1rem; /* Remove any default margin */
    
}
/* .navitems {
    background: #263849;
    position: fixed; 
    z-index: 999;
    list-style: none;
    display: flex;
    color: #35bcbf;
    text-decoration: none;
    padding: 0.625rem 0.9375rem;

    
} */

.navitems li {
    margin-left: 1.25rem; .navitems a:hover {
    text-decoration: underline;
   
}
}
.navitems a:hover {
    text-decoration: underline;
}
.resume-button {
    background-color: #90f6d7;
    color: 41506b;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
    /* Rest of your button styles */
}

.resume-button:hover {
    background-color: #ffffff;
}
