.Header {
    display: flex;
    justify-content: space-between; 
    flex-direction: row-reverse;
    padding: 25px; 
    cursor: pointer;
    font-family: 'Roboto Mono';
    background: rgb(2,0,36);
background: #263849
}

.navitems {
    list-style: none;
    display: flex;
    color: #35bcbf;
    text-decoration: none;
    padding: 10px 15px;
    
}

.navitems li {
    margin-left: 20px; .navitems a:hover {
    text-decoration: underline;
}
}
.navitems a:hover {
    text-decoration: underline;
}
.resume-button {
    background-color: #90f6d7;
    color: 41506b;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
    /* Rest of your button styles */
}

.resume-button:hover {
    background-color: #0056b3;
}
