/* 
.points {
  justify-content: top;
  margin-top: -.5rem;

} */
.Work-Header{
  font-size: 4rem;
  padding-left: 4rem;
  padding-top: 2.5rem;
  color:rgb(47, 255, 0);
  position: relative;
  z-index: 1;  
  
}

#work-section{
  background: #263849;
  font-family: 'Roboto Mono';
  color: #263849                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         ;  
  margin-left: 0%;
  text-align: left;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             
  padding: 3rem;
  padding-top: 1rem;
   
  }
  /* body {
    background: #f4f8fb;
    font-family: system-ui;
    box-sizing: border-box;
    
  } */

  .workContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-gap: 2em;
    padding: 50px;
  }
  
  .card {
    background: #ffffff 50%;
    background-size: cover;
    border-radius: 5px;
    box-shadow: 8px 14px 38px rgba(39, 44, 49, 0.06),
      1px 3px 8px rgba(39, 44, 49, 0.03);
    transition: all 2s ease;
  
    &:hover {
      box-shadow: 0 0 1px rgba(39, 44, 49, 0.1),
        0 3px 16px rgba(39, 44, 49, 0.07);
      transition: all 0.3s ease;
      transform: translate3D(0, -1px, 0);
    }
  
    .content {
      display: flex;
      flex-direction: column;
      justify-content: auto;
      height: 100%;
      min-height: auto;
      padding: 1.25rem;
  
      a {
        display: block;
        color: #263849;
        header {
          span {
            display: block;
            margin-bottom: 4px;
            color: #081a64;
            font-size: 12px;
            line-height: 1.15em;
            font-weight: 500;
            letter-spacing: 0.5px;
            text-transform: uppercase;
          }
          h2 {
            margin: 0 0 0.5em;
            font-size: 20px;
            margin-bottom: .05rem;
            line-height: normal;
          }
          h4 {
           margin-top: .05rem;
           line-height: normal;
          }
        }
      }
    }
  }
  
  /* Media Query for Mobile */
  @media (max-width: 768px) {
    .workContainer {
      grid-template-columns: repeat(auto-fit, minmax(11rem, 1fr)); /* Adjust column width for smaller screens */
      padding: 20px; /* Adjust padding for smaller screens */
      grid-gap: 1em; /* Adjust grid gap for smaller screens */
    }
    .Work-Header{
      font-size: 3rem;
      padding-left: 1rem;
    }
    .card {
      .content {
        padding: 1rem; /* Adjust padding for smaller screens */
        a {
          header {
            h2 {
              font-size: 18px; /* Adjust font size for smaller screens */
            }
          }
        }
      }
    }
  }
  